*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    width: 100vw;
    background-color: #eee;
}

.container {
    margin: 20px 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.search-container{
    position: relative;
    width: 75%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 24px;
}

#searchBar{
    width: 60%;
    border-radius: 6px;
    border: 1px solid #aaa;
    font-size: 18px;
    padding: 12px 12px;
    outline: none;
}

#searchBar:focus{
    border: 1px solid #555;
}

.searchList{
    position: absolute;
    border: 1px solid #86caf2;
    top: 50px;
    left: 50px;
    /* width: 80%; */
    overflow-y: auto;
    z-index: 50;
}

.addbtn {
    background-color: #4558fd;
    color: #fff;
    border: none;
    border-radius: 6px;
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
    padding: 8px 12px;
    letter-spacing: 1px;
}

.addbtn:hover {
    background-color: #2b39b8;
}

.timetabel-course-container{
    width: 100%;
    display: grid;
    grid-template-columns: 70% 30%;
    gap: 12px;
    margin-block: 18px;
}

@media screen and (max-width:900px) {
    .timetabel-course-container{
        grid-template-columns: 100%;
        /* background-color: #ac0505; */
    }

    .timetable-container{
        width: 100%;
    }

    .course-summary{
        width: 100%;
    }
    
    
}

.timetable-container{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* width: 70%; */
    background-color: #ddd;
    /* padding: 20px; */
    /* margin-block: 18px; */
    padding: 18px 0px;
}

h2 {
    padding-bottom: 12px;
    text-align: center;
    font-size: 24px;
}

#timetable{
    /* padding: 0 12px; */
    width: 95%;
    height: 100%;
    background-color: #fff;
    border-collapse: collapse;
    box-shadow: 0 0 10px #bbb;
}

#slot6{
    
}

.wm{
    position: absolute;
    font-weight: 900;
    opacity: 0;
}

.vsr{
    opacity: 0.4;
}

th, td {
    width: calc(100%/6);
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}

th {
    background-color: #f1f1f1;
}

.lecture{
    background-color: #86caf2;
}

.lab{
    background-color: #f59ef2;
}

.tutorial{
    background-color: #ebb67d;
}

.clash{
    background-color: #ac0505;
    color: #fff;
}

.color-info{
    margin-top: 18px;
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: space-around;

}
.color-info p{
    padding: 4px 8px;
    border-radius: 8px;
}

.course-summary{
    /* width: 30%; */
    background: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

#addedCourses {

    /* display: flex; */
    /* flex-direction: column; */
    
}

.listItem{
    width: 100%;
    display: grid;
    grid-template-columns: 20% 72% 3% 2% ;
    gap: 8px;
}

.delet-icon{
    opacity: 0;
    cursor: pointer;
    color: #4558fd;
    font-weight: 600;
    transition: opacity 0.1s ease;
}

.listItem:hover .delet-icon{
    opacity: 1;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin: 10px 0;
}

.credits{
    display: flex;
    margin-block: 10px;
    font-size: 18px;
    font-weight: 600;
}

#total{
    flex-basis: 100%;
}

#totalCredits{
    text-align: right;
}

.di{
    width: 100%;
}
.instruction{
    font-size: 14px;
    color: #888;
    opacity: 1;
    justify-self: end;
}

.btnContainer{
    display: flex;
    flex-direction: row;
    gap: 8px;
}

.footer{
    font-size: 14px;
    color: #555;
    padding: 8px 18px;
}

